@model PaginatedList<SuszkowBlog.Models.Post>

@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" type="text/css" runat="server" href="~/css/site.css" asp-append-version="true" />
<div class="text-center">
    <h1 class="display-4">Hello there</h1>
    <p>Welcome to my blog. I am Suszkow a developer of this site. Right now the page is under construction so be patient.</p>
</div>
@foreach (var item in Model)
{
    <a class="post-thumbnail" asp-controller="Home" asp-action="ShowPost" asp-route-ID="@item.ID">
        <h5 class="font-weight-normal text-left">@item.CreateOn.ToString("MMM") / @item.CreateOn.Day </h5>
        <h1 class="font-weight-bold text-left">@item.Title</h1>
    </a>
    <hr class="dashed" />
}
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
